@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {

    --pahi-blue: #214A7D;
    --pahi-red: #D42F2E;
    --pahi-yellow: #EEB825;
    --pahi-gray: #121515;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.poppins {
  font-family: 'Poppins', sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}


/* PAHI Colors */

.text-pahi-blue {
  color: var(--pahi-blue);
}

.text-pahi-yellow {
  color: var(--pahi-yellow);
}

.text-pahi-red {
  color: var(--pahi-red);
}

/*  */

.bgGrid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.2s;
}

button:hover {
  border-color: var(--pahi-blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.specialBtn {
  border-color: black;
  border-width: 1px;
  transition: all 0.4s ease;
}

.specialBtn:hover {
  border-color: blue;
  color: var(--pahi-blue);
}

.specialBtnDark {
  background: var(--pahi-blue);
  color: white;
  transition: all 0.4s ease;
}

.specialBtnDark:hover {
  background: var(--pahi-yellow);
  border-color: white;
  color: black;
}

.dropShadow {
  filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}

.fadeIn {
  animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.typer-box {
  height: 14vh;
  width: 75vh;
  animation: typing 0.7s steps(9), 
    blink .6s step-end alternate 12,
    hideCursor 0s 7.5s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  55% {
    border-color: transparent
  }
}

@keyframes hideCursor {
  0% { border-color: black; } /* Initial border color */
  100% { border-color: transparent; } /* Border becomes transparent */
}


/* From Shadcn */

* {
  @apply border-border;
}

body {
  /* overflow-x: hidden; */
 
  @apply bg-background text-foreground;
  /* font-feature-settings: "rlig" 1, "calt" 1; */
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

/* Fix issue #1: Left-shift upon dropdown click */
  body[data-melt-scroll-lock] {
    padding-right: 0 !important;
  }

/* Mobile tap highlight */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
html {
  -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
}

/* Font face Geist font */

/* === Scrollbars === */

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

::-webkit-scrollbar-track {
  @apply !bg-muted;
}
::-webkit-scrollbar-thumb {
  @apply rounded-sm !bg-muted-foreground/30;
}

/* Firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
html {
  scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
}

html.dark {
  scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.antialised {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
